*{
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f8ff; /* Light blue background */
  overflow-y: auto;
}
